@model Collaborate_lrn_Py.Models.Path

<div class="container">

    <div class="container">
        <div class="row text-center">
            <h3>@Model.PathName</h3>
            <p>Created by: @Model.Creator.UserName</p>
            <p>@Html.DisplayNameFor(model => model.Votes): @Html.DisplayFor(model => model.Votes)</p>
        </div>
    </div>
    <br /><br />


    <div class="row">
        @foreach (var item in Model.Tutorials)
        {
                <div class="col-md-3" style="">
                    <h4>@Html.DisplayFor(model => item.Title)<small></small></h4>
                    <p>@Html.DisplayFor(model => item.Description)</p>
                    <p>@Html.DisplayNameFor(model => item.Votes): @Html.DisplayFor(model => item.Votes)</p>
                    <a href="@Url.Action("TakeTutorial", "Tutorials", new { id = item.ID })" class="btn btn-info">
                        View
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </a>
                </div>
        }
    </div>

    <br />
    <br />
    <br />
    <div class="text-center">
        <a href="@Url.Action("Index", "Paths")" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
        <span></span>
    </div>
</div>