@model IEnumerable<Collaborate_lrn_Py.Models.Path>

@{ 
    ViewBag.Title = "Paths";
}

<div class="text-center">
    <h3>@ViewBag.Title</h3>
    <p>Custom Paths made public by our users.</p>
    <p>Create your own and publish it, or take someone else's.</p>
</div>

<br />
<div id="tutorials" class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="">
                    <h4>@Html.DisplayFor(modelItem => item.PathName)</h4>
                    <p>Number of Tutorials: @Html.DisplayFor(modelItem => item.Tutorials.Count)</p>
                    <p><span style="font-weight:bold">Creator: </span>@Html.DisplayFor(modelItem => item.Creator.UserName)</p>
                    <p><span style="font-weight:bold">@Html.DisplayNameFor(model => model.Votes):</span> @Html.DisplayFor(modelItem => item.Votes)</p>
                    <div>
                        <span>@Html.ActionLink("View", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })</span>
                        <span>@Html.ActionLink(" ", "UpVote", "Paths", new { id = item.Id }, new { @class = "btn btn-primary glyphicon glyphicon-arrow-up" })</span>
                        <a href="@Url.Action("AddToUsersPaths", "Paths", new { id = item.Id })" class="btn btn-warning">
                            Add Path
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <br /><br />
            </div>
        }
    </div>
</div>
<br />
<div align="center">
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
</div>