@model Collaborate_lrn_Py.Models.QuizViewModel
@{
    ViewBag.Title = "Add a New Code Challenge.";
}

@using (Html.BeginForm("Create", "Quiz", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ViewBag.Title</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.TutorialSelection, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("TutorialSelection")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Goal, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Goal, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Instruction, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Instruction, new { @class = "form-control", @rows = 12 })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExpectedOutput, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.ExpectedOutput, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @rows = 10 } })
            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
        </div>
    </div>

    //Add a partial view here and do a foreach loop for each quiz that has a link to each quiz page.

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="#" class="btn btn-default" value="Add" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
