@model Collaborate_lrn_Py.Models.Quiz

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Quiz", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Code Challenge</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TutorialId)
        @Html.HiddenFor(model => model.EducatorId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Goal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Goal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Instruction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Instruction, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayedCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DisplayedCode, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedInput, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ExpectedInput, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedOutput, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ExpectedOutput, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ErrorMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ErrorMessage, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @rows = 12 } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-default glyphicon glyphicon-arrow-left" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
