
@{
    ViewBag.Title = "Profile";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/profile.css" />
    <style>
    .col-md-3:hover, .col-md-4:hover{
        background-color: #485563;
    }
    .sbi{
        color: #ebebeb;
        text-decoration: none;
        padding-top:2em;
    }
    footer{
        margin:0em 20em 0em 20em;
    }
    .footerul{
        list-style:none;
    }
    .wrapper
    {
        min-height:100%;
        width:100%;
        position:relative;
        display:inline-block;
    }
    .sidebar
    {
        top:0px;
        left:0px;
        bottom:0px;
        position:absolute;
        float: left;
        color: #ebebeb;
    }
    .content
    {
        opacity: 0.9;
        min-height:500px;
        width:90%;
        position:relative;
        background-color:#4e5d6c;
        float: right;
        margin-right:1em;
        }
    .custom-nav li span{
        color:#ebebeb;
        list-style:none;

    }
    li{
        text-decoration: none;
        color: #ebebeb;
    }
    /*.nav.navbar-nav li a {
    color: blue;
}*/
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tutorial Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tutorials", "Index", "Tutorials")</li>
                    <li>@Html.ActionLink("Paths", "Index", "Paths")</li>
                    <li>@Html.ActionLink("Community", "Index", "Community")</li>
                    <li>@Html.ActionLink("Code Challenges", "Index", "Quiz")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    @*<nav class="navbar" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> About</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Portfolio</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> R&eacute;sum&eacute;</a></li>
            </ul>
        </div>
    </nav>*@
    <div class="wrapper">
        <div class="sidebar">
            <ul class="custom-nav">
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Dashboard", "Index", "Profile")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("About", "About", "Home")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Contact", "Contact", "Home")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Tutorials", "Index", "Tutorials")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Paths", "Index", "Paths")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Community", "Index", "Community")</span>
                </li>
                <li class="sbi">
                    <span class="sbi">@Html.ActionLink("Challenges", "Index", "Quiz")</span>
                </li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div >

        <br />
        <footer>
            <div class="row" >
                <div class="col-md-9">
                    @*<div class="col-md-3">
                        <ul class="footerul">
                            <li>@Html.ActionLink("Dashboard", "Index", "Profile")</li>
                            <li>@Html.ActionLink("Tutorials", "Index", "Tutorials")</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="footerul">
                            <li>@Html.ActionLink("Paths", "Index", "Paths")</li>
                            <li>@Html.ActionLink("Community", "Index", "Community")</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="footerul">
                            <li>@Html.ActionLink("Challenges", "Index", "Quiz")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="footerul">
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="http://www.skulpt.org/static/skulpt.min.js" type="text/javascript"></script>
    <script src="http://www.skulpt.org/static/skulpt-stdlib.js" type="text/javascript"></script> 
</body>
</html>
