@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

<div id="tutorials" class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p><span style="font-weight:bold">@Html.DisplayNameFor(model => model.CreationDate)</span> @Html.DisplayFor(modelItem => item.CreationDate)</p>
                    <p><span style="font-weight:bold">Author:</span> @Html.DisplayFor(modelItem => item.Educator.UserName)</p>
                    <p>@Html.DisplayFor(modelItem => item.Difficulty)</p>
                    <p><span style="font-weight:bold">@Html.DisplayNameFor(model => model.Votes):</span> @Html.DisplayFor(modelItem => item.Votes)</p>
                    <span>@Html.ActionLink("View", "TakeTutorial", new { id = item.ID }, new { @class = "btn btn-primary" })</span>
                  </div>
                <br /><br />
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
