@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

<h3 align="center">@ViewBag.Message</h3>
<div id="tutorials" class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Votes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>Author</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Votes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Educator.UserName)
                </td>
                <td>
                    @Html.ActionLink("View", "TakeTutorial", new { id = item.ID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
    <div align="right" style="margin-right:1.8%">
        @Html.ActionLink(" ", "Create", "Tutorial", new { @class = "btn btn-success glyphicon glyphicon-plus" })
    </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
