@model Collaborate_lrn_Py.Models.TutorialViewModel
@{
    ViewBag.Title = "Create a New Tutorial.";
}

@using (Html.BeginForm("Create", "Tutorials", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>@ViewBag.Title</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" } )
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Difficulty, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Difficulty, new { @class = "form-control" } )
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BodyText, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.TextAreaFor(m => m.BodyText, new { @class = "form-control", @rows = 12 })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CodeSample, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.CodeSample, new { @class = "form-control", @rows = 12 })
        </div>
    </div>

    //Add a partial view here and do a foreach loop for each quiz that has a link to each quiz page.

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="#" class="btn btn-default" value="Save" />
            <input type="submit" name="#" class="btn btn-default" value="Publish" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


