
@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

@{
    ViewBag.Title = "Tutorials";
}

<h2>@ViewBag.Title. <small>Learn</small></h2>

<div align="right">
    @using (Ajax.BeginForm(
                "Index",
                "Tutorials",
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "tutorials"
                }))
    {
        @Html.TextBox("searchTerm")
        <input type="submit" class="btn btn-info" value="Search" />
    }
</div>
<br />

<div id="tutorials" class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="">
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p><span style="font-weight:bold">@Html.DisplayNameFor(model => model.CreationDate)</span> @Html.DisplayFor(modelItem => item.CreationDate)</p>
                    <p><span style="font-weight:bold">Author:</span> @Html.DisplayFor(modelItem => item.Educator.UserName)</p>
                    <p>@Html.DisplayFor(modelItem => item.Difficulty)</p>
                    <p><span style="font-weight:bold">@Html.DisplayNameFor(model => model.Votes):</span> @Html.DisplayFor(modelItem => item.Votes)</p>
                    <div >
                        <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                            Add to Path
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <span>@Html.ActionLink("Take", "TakeTutorial", new { id = item.ID }, new { @class = "btn btn-default" })</span>
                        <a href="@Url.Action("UpVote", "Tutorials", new { id = item.ID })" class="btn btn-primary">
                            Upvote
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <br /><br />
            </div>
        }
    </div>
</div>
