@model Collaborate_lrn_Py.Models.TutQuizViewModel

@{
    ViewBag.Title = Model.ModelTutorial.Title;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Tutorial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelTutorial.BodyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelTutorial.BodyText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelTutorial.CodeSample)
        </dt>

        <dd>
            <div style="width:300px">
                <code>@Html.DisplayFor(model => model.ModelTutorial.CodeSample)</code>
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@{
    if (Model.ModelQuiz != null)
    {
        @Html.Partial("~/Views/Quiz/_TakeQuiz.cshtml", Model.ModelQuiz)
    }
    else
    {
        <div>@ViewBag.Message</div>
    }
}

