@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create a New Tutorial", "Create", "Tutorials")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Educator.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Educator.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.ActionLink("Publish", "Publish", "Tutorials", new { id=item.ID }, null) |
            @Html.ActionLink("Details", "Details", "Tutorials", new { id=item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Tutorials", new { id=item.ID }, null) |
        </td>
    </tr>
}
</table>

<p>@Html.ActionLink("Add a Quiz", "Create", "Quiz")</p>
<p>@Html.ActionLink("Linter", "Linter")</p>
