@model IEnumerable<Collaborate_lrn_Py.Models.Tutorial>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Your Tutorials <small>Create</small></h3>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            <div class="dropdown">
                <button class="btn btn-primary glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown">
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Publish", "Publish", "Tutorials", new { id = item.ID }, null)</li>
                    <li>@Html.ActionLink("Collaborate", "AddCollaborator", "Profile")</li>
                    <li>@Html.ActionLink("Details", "Details", "Tutorials", new { id=item.ID }, null)</li>
                    <li>@Html.ActionLink("Edit", "Edit", "Tutorials", new { id = item.ID }, null )</li>
                    <li>@Html.ActionLink("Delete", "Delete", "Tutorials", new { id = item.ID }, null)</li>
                </ul>
            </div>                   
        </td>
    </tr>
}
</table>
@*<p>
    @Html.ActionLink(" Collaborate", "AddCollaborator", "Profile", null, new { @class = "btn btn-primary glyphicon glyphicon-share" })
</p>*@
<p>
    @Html.ActionLink(" ", "Create", "Tutorials", null, new { @class = "glyphicon glyphicon-plus btn btn-primary" })
</p>

