@model Collaborate_lrn_Py.Models.EducatorViewModel

@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/obsidian.css">
<script src="~/Scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

    <div class="row">
        <div class="col-md-8">
            <h3>Create. <small>Manage your Tutorials</small></h3>
            <br />
            <table class="table table-hover">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Difficulty
                    </th>
                    <th>
                        Votes
                    </th>
                    <th>
                        Published
                    </th>
                </tr>
                @foreach (var item in Model.EducatorTutorials)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Difficulty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Votes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Published)
                        </td>
                        <td>
                            <div align="right">
                                @Html.ActionLink(" ", "Publish", "Tutorials", new { id = item.ID }, new { @class = "btn btn-success glyphicon glyphicon-globe", @datatoggle = "tooltip", @dataplacement = "top", @title = "Publish" })
                                @Html.ActionLink(" ", "AddCollaborator", "Profile", null, new { @class = "btn btn-default glyphicon glyphicon-share-alt" })
                                @Html.ActionLink(" ", "Details", "Tutorials", new { id = item.ID }, new { @class = "btn btn-info glyphicon glyphicon-eye-open" })
                                @Html.ActionLink(" ", "Edit", "Tutorials", new { id = item.ID }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                                @Html.ActionLink(" ", "Delete", "Tutorials", new { id = item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p>
                @Html.ActionLink(" ", "Create", "Tutorials", null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @datatoggle = "tooltip", @dataplacement = "top", @title = "Add a Tutorial" })
            </p>
            <br />


            @*<------------------------------------- Quizzes/Code challenges ----------------------------------->*@
            <h3>Teach. <small>Manage your Code Challenges</small></h3>
            <br />
            <table class="table table-hover">
                <tr>
                    <th>
                        Challenge Name
                    </th>
                    <th>
                        Tutorial
                    </th>
                    <th>
                        Goal
                    </th>
                </tr>
                @foreach (var item in Model.EducatorQuizzes)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goal)
                        </td>
                        <td>
                            <div align="right">
                                @Html.ActionLink(" ", "Details", "Quiz", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-eye-open" })
                                @Html.ActionLink(" ", "Edit", "Quiz", new { id = item.Id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                                @Html.ActionLink(" ", "Delete", "Quiz", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p>
                @Html.ActionLink(" ", "Create", "Quiz", null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @datatoggle = "tooltip", @dataplacement = "top", @title = "Add a Code Challenge" })
            </p>

            @*<---------------------------------------Collaborative Tutorials----------------------->*@

            <h3>Collaborate. <small>Edit tutorials you're collaborating on</small></h3>
            <br />
            <table class="table table-hover">
                <tr>

                    <th>
                        Title
                    </th>
                    <th>
                        Original Author
                    </th>
                    <th>
                        Difficulty
                    </th>
                    <th>
                        Votes
                    </th>
                    <th>
                        Published
                    </th>
                </tr>
                @foreach (var item in Model.CollaborativeTutorials)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Educator.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Difficulty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Votes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tutorial.Published)
                        </td>
                        <td>
                            <div align="right">
                                @Html.ActionLink(" ", "Details", "Tutorials", new { id = item.TutorialId }, new { @class = "btn btn-info glyphicon glyphicon-eye-open" })
                                @Html.ActionLink(" ", "Edit", "Tutorials", new { id = item.TutorialId }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                            </div>
                        </td>
                    </tr>
                }
            </table>
            <p>
                @Html.ActionLink(" ", "Create", "Tutorials", null, new { @class = "glyphicon glyphicon-plus btn btn-primary", @datatoggle = "tooltip", @dataplacement = "top", @title = "Add a Tutorial" })
            </p>
            <br />
        </div>

        <div class="col-md-3">
            <div align="right">
                <h2>@User.Identity.GetUserName()</h2>
                <p>@Html.DisplayNameFor(model => model.Points):   @Model.Points</p>
            </div>
        </div>

        <div class="col-md-3" style="padding:50px;color:deepskyblue" align="right">
            <div>
                <p>This is your Dashboard. Here you can create and publish tutorials and code challenges, add collaborators to your projects,
                see how your projects are being rated by users, and more.</p>
            </div>
        </div>

        <div class="col-md-3">
            <div align="left">
                <pre style="background-color: #282b2e"><code class="python">def Greet(name):
    print("Welcome to Tutorial Hub, {}.".format(name))
                   
Greet("@User.Identity.GetUserName()")
                
#Welcome to Tutorial Hub, @User.Identity.GetUserName().  
            </code></pre>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>



    <!---Dropdown list -->
    @*<td>
            <div class="dropdown" align="right">
                <button class="btn btn-primary glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown"></button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink(" ", "Details", "Tutorials", new { id = item.TutorialId }, new { @class = "bg-info glyphicon glyphicon-eye-open" })</li>
                    <li>@Html.ActionLink(" ", "Edit", "Tutorials", new { id = item.TutorialId }, new { @class = "bg-warning glyphicon glyphicon-pencil" })</li>
                </ul>
            </div>
        </td>*@

