@model Collaborate_lrn_Py.Models.EducatorViewModel

@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/obsidian.css"/>
<link rel="stylesheet" href="~/Content/profile.css"/>
<script src="~/Scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <div class="row">
        <div class="col-md-8">
            <div>
                <h3 align="center">Create. <small>Manage your Tutorials</small></h3>               
                <hr />
                <br />
                @foreach (var item in Model.EducatorTutorials)
            {
                    <div class="col-md-4 hover">
                        <div>
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                            <div>
                                <p><span class="tobold">@Html.DisplayNameFor(modelItem => item.Votes):</span> @Html.DisplayFor(modelItem => item.Votes)</p>
                                <p><span class="tobold">@Html.DisplayNameFor(modelItem => item.Published):</span> @Html.DisplayFor(modelItem => item.Published)</p>
                                <p><span class="tobold">Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)</span>
                                     <div class="dropdown" >
                                        <button class="btn btn-primary glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown"></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="@Url.Action("Publish", "Tutorials", new { id = item.ID })" class="">
                                                    Publish
                                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("AddCollaborator", "Profile", new { id = item.ID })" class="">
                                                    Collaborate
                                                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("TakeTutorial", "Tutorials", new { id = item.ID })" class="">
                                                    Preview
                                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Edit", "Tutorials", new { id = item.ID })" class="">
                                                    Edit
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Delete", "Tutorials", new { id = item.ID })" class="">
                                                    Remove
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                     
                                        </ul>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />

            @*<------------------------------------- Quizzes/Code challenges ----------------------------------->*@        
            <div style="padding-top:11em;">
                <h3 align="center">Teach. <small>Manage your Code Challenges</small>
                </h3>
                <hr />
                <br />
                @foreach (var item in Model.EducatorQuizzes)
                {
                    <div class="col-md-4 hover">
                        <div>
                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            <div>
                                <p><span class="tobold">@Html.DisplayNameFor(modelItem => item.Tutorial):</span> @Html.DisplayFor(modelItem => item.Tutorial.Title)</p>
                                <p>@Html.DisplayFor(modelItem => item.Goal)</p>
                                <div class="">
                                    <a href="@Url.Action("Details", "Quiz", new { id = item.Id })" class="btn btn-info">

                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>

                                    <a href="@Url.Action("Edit", "Quiz", new { id = item.Id })" class="btn btn-warning">

                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>

                                    <a href="@Url.Action("Delete", "Quiz", new { id = item.Id })" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
            <br />

                @*<---------------------------------------Collaborative Tutorials----------------------->*@
                <div style="padding-top:11em;">
                    <h3 align="center">Collaborate. <small>Edit tutorials you're collaborating on</small></h3>
                    <hr />
                    <br />
                    @foreach (var item in Model.CollaborativeTutorials)
                    {
                        <div class="col-md-4 hover" style="padding-bottom:2em">
                            <div>
                                <h4>@Html.DisplayFor(modelItem => item.Tutorial.Title)</h4>
                                <div>
                                    <p><span class="tobold">Original Author: </span>@Html.DisplayFor(modelItem => item.Tutorial.Educator.UserName)</p>
                                    <div class="" >
                                        <a href="@Url.Action("Collaborate", "CollaborativeTutorial", new { id = item.Id })" class="btn btn-info">
                                            
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        </a>

                                        <a href="@Url.Action("Edit", "Tutorials", new { id = item.TutorialId })" class="btn btn-warning">

                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                </div>
            @*<--------------------------------------- Tutorials for which you've added collaborators----------------------->*@
            <div style="padding-top:20em;">
                <h3 align="center"><small>Track the Tutorials to which you've added collaborators</small></h3>
                <hr/>
                <br />
                @foreach (var item in Model.AddedCollaboratorsToTheseTutorials)
                {
                    <div class="col-md-4 hover" style="padding-bottom:2em">
                        <div>
                            <h4>@Html.DisplayFor(modelItem => item.Tutorial.Title)</h4>
                            <div>
                                <p><span class="tobold">@Html.DisplayNameFor(modelItem => item.Tutorial.Votes):</span> @Html.DisplayFor(modelItem => item.Tutorial.Votes)</p>
                                <div class="">
                                    <a href="@Url.Action("Collaborate", "CollaborativeTutorial", new { id = item.Id })" class="btn btn-info">

                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </a>

                                    <a href="@Url.Action("Edit", "Tutorials", new { id = item.TutorialId })" class="btn btn-warning">

                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br />
            </div>

            </div>
        <!-----------------------------------------------------Right------------------------------------------------------------>
        <div class="col-md-2 profile">
            <div align="left" style="padding-left:1em">
                <h2 class="tobold">@User.Identity.GetUserName()</h2>
                <p>@Html.DisplayNameFor(model => model.Points):   @Model.Points</p>
            </div>
        </div>
        <div class="col-md-2 profile">
            <div align="right">
                <div style="padding-top:1em">
                    <a href="@Url.Action("Create", "Tutorials")" class="btn btn-success">
                        Add a Tutorial
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </div>
                <div style="padding-top:1em">
                    <a href="@Url.Action("Create", "Quiz")" class="btn btn-success">
                        Add a Challenge
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4 profile" >
            <div align="left" style="padding-left:1em;">
                <p>This is your Dashboard. Here you can create and publish tutorials and code challenges, add collaborators to your projects,
                see how your projects are being rated by users, and more.</p>
            </div>
        </div>

        <div class="col-md-4 profile">
            <div align="left" style="padding-left:1em;">
                <pre style="background-color: #282b2e"><code class="python">def Greet(name):
    print("Welcome to Tutorial Hub, {}.".format(name))
                   
Greet("@User.Identity.GetUserName()")
                
#Welcome to Tutorial Hub, @User.Identity.GetUserName().  
            </code></pre>
            </div>
        </div>

        <div class="col-md-4 profile" align="center">
            <div>
                <h3>@Html.DisplayNameFor(model => model.PopularTutorials)</h3>
                <ul class="nav">
                @foreach (var i in Model.PopularTutorials)
                {
                    <li>@Html.DisplayFor(x => i.Title)<span class="badge"> @Html.DisplayFor(x => i.Votes)</span>
                        <p></p>
                    </li>
                }
                </ul>
            </div>
        </div>

    </div>

    <script src="~/Scripts/jquery-2.2.4.min.js"></script>



    <!---Dropdown list -->
 
    @*<div class="dropdown" align="right">
        <button class="btn btn-primary glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown"></button>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                Add to Path
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                Add to Path
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                    Add to Path
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                    Add to Path
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("AddTutorialToPath", "Paths", new { id = item.ID })" class="btn btn-success">
                    Add to Path
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>*@
  

