@model Collaborate_lrn_Py.Models.ApplicationUser

@{
    ViewBag.Title = "Student Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/obsidian.css">
<script src="~/Scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

    <div class="row">
    <div class="col-md-8">
        @foreach (var i in Model.Paths)
            {
            <table class="table">
                <tr>
                    <td>
                        <div align="center">
                            <h3>@Html.DisplayFor(m => i.PathName)</h3>
                            <h5>
                                @Html.DisplayNameFor(m => i.Published): @Html.DisplayFor(m => i.Published)
                                @Html.DisplayNameFor(m => i.Votes): @Html.DisplayFor(m => i.Votes)
                                <span align="right" style="padding-left:2em"> @Html.ActionLink(" ", "Publish", "Paths", new { id = i.Id }, new { @class = "btn btn-success glyphicon glyphicon-globe" })</span>
                            </h5>
                        </div>
                </tr>
            </table>
                <h4>Tutorials</h4>
            foreach (var x in i.Tutorials)
            {
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => x.Title)
                        </th>
                        <td>
                            @Html.DisplayFor(m => x.Title)
                        </td>
                        <th>
                            @Html.DisplayNameFor(m => x.Description)
                        </th>
                        <td>
                            @Html.DisplayFor(m => x.Description)
                        </td>
                    </tr>
                </table>
            }
        }
    </div>

    <div class="col-md-3">
        <div align="right">
            <h2>@Model.UserName </h2>
            <p>@Html.DisplayNameFor(model => model.Points): <strong>@Html.DisplayFor(model => model.Points)</strong></p>
            <p>@Html.DisplayNameFor(model => model.CompletedTutorialsCount): <strong>@Html.DisplayFor(model => model.CompletedTutorialsCount) </strong></p>
            <p>@Html.ActionLink("Create a Path", "Create", "Paths", null, new { @class = "btn btn-primary" })</p>
        </div>
    </div>

        <div class="col-md-3" style="padding:50px;color:deepskyblue" align="right">
            <div>
                <p>This is your Dashboard. Here you'll find links to create custom paths that you can publish publicly when you think it's a good sequence of tutorials.</p>
            </div>
        </div>
        <div class="col-md-3">
                <div align="left">
                    <pre style="background-color: #282b2e"><code class="python">def Greet(name):
    print("Welcome to Tutorial Hub, {}.".format(name))
                   
Greet("@Model.UserName")
                
#Welcome to Tutorial Hub, @Model.UserName. 
            </code></pre>
                </div>
            </div>

</div>

<!--------------------------------------------------------------------------------------->
