@model Collaborate_lrn_Py.Models.ApplicationUser

@{ 
    ViewBag.Title = "Student Profile";
}
<h3>Here's your Dashboard</h3>
<div align="right"><h2>@Model.UserName </h2>
    <p>@Html.DisplayNameFor(model => model.Points): <strong>@Html.DisplayFor(model => model.Points)</strong></p>    
</div>

<table class="table">
    <tr>
        <th>
           
        </th>
        <td>
            <h4></h4>
        </td>
    </tr>
</table>
@foreach (var i in Model.Paths)
    {
   <table class="table">i.PathName
        <tr>
            <th>
                @Html.DisplayNameFor(m => i.PathName)
            </th>
            <td>
                @Html.DisplayFor(m => i.PathName)
            </td>
        </tr>
       </table>
        foreach (var x in i.Tutorials)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => x.Title)
                    </th>
                    <td>
                        @Html.DisplayFor(m => x.Title)
                    </td>
                    <th>
                        @Html.DisplayNameFor(m => x.Description)
                    </th>
                    <td>
                        @Html.DisplayFor(m => x.Description)
                    </td>
                    <th>
                        @Html.DisplayNameFor(m => x.CodeSample)
                    </th>
                    <td>
                        @Html.DisplayFor(m => x.CodeSample)
                    </td>
                </tr>
            </table>
        }
    }
    <p>@Html.ActionLink("Create a Path", "Create", "Paths", null, new { @class = "btn btn-primary" })</p>

